@model Our_Calendar.Models.ForgotPasswordVModel

@{
    ViewBag.Title = "Forgot Password - Our Calendar App";
}

@{
    if (ViewBag.Alert != null)
    {
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>@ViewBag.AlertHeading</strong> @ViewBag.Alert
        </div>
    }
}

<h2>Forgotten Password?</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="col-sm-4 col-sm-offset-4">
        <fieldset>
            <legend></legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <p class="pull-right submit-button">
                <input class="btn btn-primary" type="submit" value="Send Password Reset" />               
            </p>
        </fieldset>
    </div>
}
